<div class="todos">
    <form (submit)="addTodo()">
        <input type="text"
        name="inputTodo"
        placeholder="Enter todo..."
        class="todo-input"
        [(ngModel)]="inputTodo" 
        />
        <input type="submit" value="Add Todo" class="todo-submit">
    </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">

        <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
        <button class="delete {{ (todo.completed ? 'completed-todo' : '') }}" (click)="deleteTodo(i)"><i class="far fa-trash-alt"></i></button>
        <button class="complete {{ (todo.completed ? 'completed' : '') }}" (click)="toggleDone(i)"><i class="fas fa-check"></i></button>
    </div>
</div>
